<service name="git-buildpackage">
    <summary>Build with git-buildpackage</summary>
    <description>Export packaging files from a git repository managed with the git-buildpackage suite.</description>
    <parameter name="url">
        <description>Remote repository URL</description>
        <required/>
    </parameter>
    <parameter name="revision">
        <description>Revision (tree-ish) to be built. Default is HEAD.</description>
    </parameter>
    <parameter name="spec-vcs-tag">
        <description>Set/update the VCS tag in the spec file</description>
    </parameter>
    <parameter name="rpm">
        <description>Build RPM package</description>
        <allowedvalue>auto</allowedvalue>
        <allowedvalue>yes</allowedvalue>
        <allowedvalue>no</allowedvalue>
    </parameter>
    <parameter name="deb">
        <description>Build Debian package</description>
        <allowedvalue>auto</allowedvalue>
        <allowedvalue>yes</allowedvalue>
        <allowedvalue>no</allowedvalue>
    </parameter>
    <parameter name="git-meta">
        <description>Export meta data about the revision into a file in JSON format.</description>
    </parameter>
    <parameter name="verbose">
        <description>Enable verbose output. For debugging purposes.</description>
        <allowedvalue>no</allowedvalue>
        <allowedvalue>yes</allowedvalue>
    </parameter>
</service>

